
body{
  margin:0 ;
  padding :0;
  background-color: #F4F6F8;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.hidden {
  display: none;
}


th.sorted-asc::after {
  content: ' ↑';
}
th.sorted-desc::after {
  content: ' ↓';
}